/* || General Styling */
body {
  font-family: Roboto;
  color: #4e5766;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0px;
}

h1 {
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  border: 0px;
  padding: 5px 20px;
}

nav a {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

header {
  padding-top: 10px;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

header,
footer {
  color: #f9faf8;
  background-color: #1f2937;
}
img {
  object-fit: cover;
}

blockquote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

main {
  display: flex;
  flex-direction: column;
}

/* || Main padding */
.navbar,
.hero,
.card-container,
blockquote,
.body-section-even {
  padding-left: 15%;
  padding-right: 15%;
}

/* || Header and Main Navigation */
/* Main navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-weight: 600;
  font-size: 24px;
  color: #f9faf8;
}

/* || Hero */
.hero {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

#hero-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 1000;
  margin-top: 0px;
  margin-bottom: 0px;
}

#hero-secondary {
  margin-top: 0px;
  margin-bottom: 10px;
}

.hero img {
  width: 950px;
  height: 250px;
  max-width: 1000px;
  max-height: auto;
}

/* || Odd and even body sections */
.body-section-even,
.body-section-block-quote {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* || Cards */
.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  padding: 0px;
}

.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: space-evenly;
  gap: 40px;
}

.card {
  width: 150px;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card > img {
  width: 150px;
  height: 150px;
  min-height: 150px;
  min-width: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.card p {
  margin: 0px;
}

.card-container > h1 {
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

/* || Blockquote section */
.body-section-blockquote {
  background-color: #e5e7eb;
}
